body {
    background: purple;
}

.container {
    max-width: 400px;
}

.stopWatch {
    background-color: black;
    color: white;
    display: flex;
    font-size: 50px;
    line-height: 45px;
    width: 210px;
    height: 70px;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    border-radius: 15px;
}

div {
    margin-left: 4px;
   
}
.second {
    color: greenyellow;
}

.seconds {
    color: red;
}


.restart, .stop {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
  width: 100%;
}