body {
    background: purple;
}


.stopWatch {
    background-color: black;
    color: white;
    display: flex;
    font-size: 50px;
    line-height: 45px;
    width: 190px;
    height: 70px;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    border-radius: 15px;
}

div {
    margin-left: 4px;
   
}
.second {
    color: greenyellow;
}

.seconds {
    color: red;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
